<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="get" action="/report">
        <select name="researchType">
            <option>МРТ</option>
            <option>КТ</option>
            <option>УЗИ</option>
        </select>
        <input name="startDate" type="date">
        <input name="endDate" type="date">
        <button type="submit">Отправить</button>
    </form>
</body>
</html>