<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic Web Page</title>
    <link rel="stylesheet" th:href="@{/css/main-page.css}">
</head>
<body>
<header>
    <div>
        <a th:href="@{/registration}">Зарегистрироваться</a>
    </div>
</header>
<form method="post" th:action="@{/auth/login}" class="container">
    <input name="username" type="text" placeholder="Имя пользователя">
    <input name="password" type="password" placeholder="Пароль">
    <button type="submit">Войти</button>
</form>
<div th:if="${param.error}" style="color:red">
    Неверное имя пользователя или пароль.
</div>
</body>
</html>
